* {
  font-family: 'Fraunces';
  color: #74605a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #f1ece2,#e3d9c5);
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  transition: background-image ease-in-out;
  transition-delay: 1s;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.gallery img {
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

.testimonial-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ebe4d6;
  background: #ebe4d6;
}

.contact-form button {
  width: 100%;
  background-color: #3182ce;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #2b6cb0;
}


  